/*-------------- cat-slider -----------------*/
.cat-slider-wrap{
	position: relative;
	padding: 15px 58px 15px 40px;
	min-height: 160px;
	border-bottom: 1px solid #ddd;

	&__sticker{
		display: block;
		height: 40px;
		width: 160px;
		background: $color-orange;
		@include font(normal, 300, rem(16px), rem(40px), #fff);
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		transform-origin: 0 0;
		transform: rotate(270deg) translateX(-100%);
		z-index: 2;
	}
}

.cat-slider{
	display: none;

	&.slick-initialized{display: block;}

	&__item{
		text-align: center;
		padding: 0 10px;
	}

	&__link{text-decoration: none;}

	&__img{
		height: 72px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&__text{
		@include font(normal, normal, rem(20px), 1.2, $color-text);
		margin-top: 3px;
	}

	.slick-prev{display: none!important;}

	.slick-next{
		display: inline-block;
		width: 52px;
		height: 100px;
		background: transparent url(/assets/img/blog-arrows.png) no-repeat top right;
		font-size: 0;
		position: absolute;
		@include top-center;
		right: -42px;
		cursor: pointer;
	}

	.slick-next:hover{background-position: bottom right;}
}