/*-------------- form-search -----------------*/
.form-search{
	display: inline-flex;
	height: rem(38px);
	width: 260px;
	position: relative;

	input[type="text"]{
		display: inline-block;
		height: 100%;
		width: calc(100% - 40px);
		@include font(normal, normal, rem(16px), rem(36px), #565656);
		padding: 0 12px;
		margin: 0;
		border: solid 1px #e9e9e9;
		border-right: 0;
		border-radius: 5px 0 0 5px;
		outline: 0;
		background: #fff;
		transition: all 0.2s ease 0s;
	}

	input[type="text"]::placeholder{color: #929292;}
	input[type="text"]::-webkit-input-placeholder {color: #929292;}
	input[type="text"]:-moz-placeholder {color: #929292;}

	input[type="text"]:focus{border-color: $color-orange;}

	input[type="submit"],
	button{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 100%;
		background: $color-orange;
		font-size: 0;
		border: 0;
		outline: 0;
		padding: 0;
		border-radius: 0 5px 5px 0;
		box-shadow: none;
		cursor: pointer;
		transition: all 0.2s ease 0s;
	}

	button .icon{fill: #fff;}
	
	input[type="submit"]:hover,
	button:hover{
		background: $color-dark-orange;
	}
	
	&_grey{
		input[type="submit"],
		button{
			background: #f0f0f0;
		}

		input[type="submit"]:hover,
		button:hover{
			background: #d4d3d3;
		}

		button .icon{fill: #b4b4b4;}
	}
}