/*-------------- lists -----------------*/
.list-circle{
	@include reset-list;

	li{
		@include reset-list;
		position: relative;
		margin-bottom: 25px;
	}

	li::before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #ffd700;
		margin-right: 10px;
		margin-top: -2px;
	}

	&_green li{margin-bottom: 5px;}
	&_green li::before{background: #66cc00;}
}

.list-arrow{
	@include reset-list;

	li{
		@include reset-list;
		position: relative;
	}

	li::before{
		content: '\2192';
		margin-right: 10px;
		margin-top: -2px;
	}
}