/*-------------- pagination -----------------*/
.pagination{
	display: inline-flex;
	flex-wrap: wrap;

	&__arr,
	&__item,
	&__more{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-family: $font-helvetica;
		@include font(normal, normal, rem(15px), 1.2, #565656);
		text-decoration: none;
		padding: 3px 6px;
		margin-right: 3px;
		transition: all 0.2s ease 0s;
	}

	&__arr,
	&__item{
		border: solid 1px #ddd;
	}

	&__arr:hover,
	&__item:hover,
	&__item.current{
		background: $color-orange;
		border-color: $color-orange;
		color: #fff;
	}

	&__more{
		font-weight: bold;
	}

	&__arr{
		.icon{
			fill: #565656;
			transition: all 0.2s ease 0s;
		}
	}

	&__arr:hover .icon{fill: #fff;}

	&_orange{margin: 14px 0;}

	&_orange &__arr,
	&_orange &__item,
	&_orange &__more{
		padding: 6px 12px;
		color: #fff;
		background: #f7941e;
		border: 0;
	}

	&_orange &__arr .icon{fill: #fff;}

	&_orange &__item:hover,
	&_orange &__item.current{
		background: #cd7a13;
	}
}

@media (max-width: 767px) {
	.pagination{
		display: flex;
		justify-content: flex-end;
	}
}