/*-------------- quote -----------------*/
.quote{
	padding: 14px 0 10px;
	position: relative;
	font-family: $font-site;
	@include font(normal, 500, rem(20px), 1.2, #3f3d1d);
	text-align: center;
	margin: 10px 0;

	&::before,
	&::after{
		content: '';
		display: inline-block;
		width: 50%;
		height: 1px;
		background: #c2c2c2;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&::before{top: 0;}
	&::after{bottom: 0;}
}

.quote-author{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;

	&__text{
		@include font(italic, 500, rem(16px), 1.2, #696969);
		text-align: right;
		width: calc(100% - 110px);
		max-width: 700px;
	}

	&__img{width: 100px;}
}