/*-------------- search-res -----------------*/
.search-res{
	background: #fff;
	margin-left: -1px;
	margin-right: -1px;
	padding: 20px;

	&__content{
		max-width: 740px;
		margin: 0 auto;
	}

	&__title,
	&__count{
		font-family: $font-helvetica;
		@include font(normal, normal, rem(20px), 1.2, #3f3d1d);
		margin-bottom: 20px;
	}

	&__count{color: #5c4621;}
	&__count + .pagination{margin-top: 0;}

	.catalog-sort{padding: 17px 0 8px;}
}

@media (max-width: 767px) {
	.search-res{
		padding-left: 15px;
		padding-right: 15px;

		.catalog-list{
			margin-left: 0;
			margin-right: 0;

			&_row .catalog-list__item{flex-direction: column;}

			&_row .catalog-list__bottom{
				text-align: left;
				padding-left: 130px;
			}
		}
	}
}