/*-------------- top-slider -----------------*/
.top-slider-wrap{
	display: flex;
	height: 402px;
}

.top-action{
	width: 33.33%;

	&__item{
		height: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__link{
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
	}

	&__count{
		display: inline-block;
		vertical-align: top;
		@include font(normal, 300, rem(20px), 1.2, #684e33);
		margin: 16px 10px;
	}
}

.top-slider{
	width: 66.66%;
	display: none;

	&.slick-initialized{display: block;}

	&__item{height: 402px;}

	&__link{
		display: block;
		height: 402px;
		text-decoration: none;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}