extends ../layout/main

block variables
	- var title = 'О нас';

block content
	.page-wrap
		section
			.page
				.page__slogan Об Аюрведамаркет, наших проектах и о том, что обычно остаётся за кадром.

				.page__header.page__header_right.page__header_bown(style="background-image: url(/assets/img/about.jpg)")
					h1 О нас
					.page__subtitle Письмо руководителя


				.h2 Давайте знакомиться
				
				.quote-author
					.quote-author__text Меня зовут Станислав Ларин, треть моей жизни посвящена Ayurvedamarket — проекту, который в 2003 году мы создали с друзьями-единомышленниками. 
					.quote-author__img
						img(src="/assets/img/round-photo2.jpg", alt="")

				p
					b Дело в том, что Ayurvedamarket не совсем обычный магазин. С первого дня больше половины нашей деятельности связано с популяризацией Аюрведы в России. 
				
				p  10 лет назад мы открыли информационно-образовательный проект «Вся Аюрведа». Возможно, вы знакомы с ним благодаря популярному <a href="https://vk.com/all_ayurveda">сообществу</a>, собравшему более 10 тысяч полезных записей и 80 тысяч подписчиков, или бывали на встречах нашего Клуба в Москве, которые мы проводим почти каждый месяц, приглашая лучших практикующих специалистов, выбирая интересные темы для семинаров и мастер-классов. А может быть, вы заглядывали наши информационные сайты <a href="http://chavanprash.ru/" class="link-text">chavanprash.ru</a>, <a href="http://triphala.ru/" class="link-text">triphala.ru</a> или узнаете об Аюрведе из нашего <a href="https://www.instagram.com/all_ayurveda/">инстаграма</a>

				p  На канале проекта«Вся Аюрведа» в <a href="https://www.youtube.com/user/Ayurveda108video">Youtube</a> собрано около сотни видео, которые наверняка будут вам полезны, все они в бесплатном доступе.
			
				.h2 Сотрудничество

				p Проект «Вся Аюрведа» — организатор ежегодных аюрведических конференций, информационный партнер Института Восточной медицины РУДН и массы других добрых проектов. Мы сотрудничаем с Посольством Индии и AYUSH (министерство Аюрведы, Йоги, Унани, Сиддхи и Гомеопатии при Правительстве Индии), оказывая поддержку различным аюрведическим программам в России. Мы помогаем выходу на рынок новых производителей, входим в состав рабочей группы, призванной определить дальнейшие пути развития российской Аюрведы, сотрудничаем с центрами и специалистами.

				p За это время мы встречались с Дэвидом Фроули и Робертом Свобода, основателями аюрведических компаний и известными людьми, практикующими Аюрведу, участвовали в десятках фестивалей и записывали <a href="https://www.mixcloud.com/olesya-velesova/%D1%80%D0%B0%D0%B4%D0%B8%D0%BE-%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B8-%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D1%8B-%D0%B0%D1%8E%D1%80%D0%B2%D0%B5%D0%B4%D1%8B-%D0%B4%D0%BB%D1%8F-%D0%BD%D0%B0%D1%87%D0%B8%D0%BD%D0%B0%D1%8E%D1%89%D0%B8%D1%85/">передачи на радио</a>. Надо сказать, что все это было бы невозможно без вас. 

				.quote Это ваши заказы участвуют в каждом из этих событий, позволяя нам тратить часть средств на развитие Аюрведы.

				.gallery
					.gallery__list
						-
							var list=['conference-photos1.jpg', 'conference-photos2.jpg', 'conference-photos3.jpg']
						
						each item in list
							.gallery__item
								a(href="/assets/img/"+item data-fancybox='images')
									img(src="/assets/img/"+item, alt="")

					.gallery__label Аюрведическая конференция 2015

				.h2 «Не знаю, как вы относитесь к слову миссия, но точнее мне не сказать»

				p Миссия Ayurvedamarket заключается не в продаже косметических средств, аюрведических джемов и масел (хотя без этого довольно сложно практиковать Аюрведу: травы и лекарственные составы исстари были первыми помощниками в поддержании здоровья). Миссия Ayurvedamarket — возвращение древних знаний в нашу жизнь. 
				p Помните ведающих бабушек травниц, целителей в каждой русской деревне? Еще 50 лет назад они казались вечными символами Руси. Но вместе с деревнями в небытие ушли и травы, и знания о них, и традиция, сохранившаяся в исходном виде за тридевять земель, в тридесятом царстве. Однако Аюрведа не принадлежит отдельной этнической группе. Аюрведа это хранилище знаний о здоровой, счастливой жизни, являющееся частью Ведического наследия, принадлежащего всему человечеству.
				p Сегодня, когда мы так устремлены вперед, кажется особенно важным, не потерять последнюю связь с природой, чтобы, в конце концов, не потерять саму природу и себя.

				.quote Наша задача вместе с вами создавать и расширять сообщество людей, живущих более осознанно и экологично.

				p Просто чуть больше внимания тому, что мы едим, чем мы пользуемся, как мы живем, о чем думаем, что культивируем и что оставим после себя.

				.h2 Отзывы

				p Если мы уже стали «вашим» магазином, и вы хотели бы написать нам несколько добрых слов, лучше всего сделать это <a href="https://market.yandex.ru/shop/6941/reviews">здесь</a> — так ваш отзыв поможет еще и тем, кто только собирается стать покупателем Ayurvedamarket.

				p Если у вас есть замечания, пожелания или вопросы, пишите пожалуйста мне на <a href="mailto:larin@ayurvedamarket.ru" class="link-site">larin@ayurvedamarket.ru</a>

				.article
					.article__list
						-
							var list=[
								{link:'/about_us/BD', img:'about1.jpg', title:'Бесплатная доставка', text:'Наша любимая акция! Выбирайте настоящую Аюрведу, экономя на доставке.'},
								{link:'/about_us/policy', img:'about2.jpg', title:'Политика конфиденциальности', text:'Политика конфиденциальности персональных данных.'},
								{link:'/about_us/reviews', img:'about3.jpg', title:'Отзывы', text:'Делитесь своим мнением, впечатлениями и замечаниями о товарах и работе магазина.'},
								{link:'/about_us/payment', img:'about4.jpg', title:'Способы оплаты', text:'Картой, наличными, переводом — оплачивайте покупки любым удобным для Вас способом.'},
								{link:'/about_us/contacts', img:'about5.jpg', title:'Контакты', text:'Приезжайте к нам в магазин на м. Электрозаводская. Будем рады встрече с вами!'},
								{link:'/about_us/discounts', img:'about6.jpg', title:'Программа скидок', text:'Накапливайте скидку постоянного покупателя с первой покупки.'},
								{link:'/about_us/about_us', img:'about7.jpg', title:'О нас', text:'Об Аюрведамаркет, наших проектах и о том, что обычно остаётся за кадром.'},
							]

						each item in list
							.article__item
								a.article__img(style="background-image: url(/assets/img/"+item.img+")", href=item.link)

								.article__content
									.article__title
										a(href=item.link)= item.title

									.article__text
										a(href=item.link)= item.text