extends ../layout/main

block variables
	- var title = 'Доставка';

block content
	.page-wrap
		section
			.page
				.page__slogan Доставка по всей России. Условия, цены, способы доставки.

				.page__header(style="background-image: url(/assets/img/delivery.jpg)")
					h1 Доставка


				.h2 Условия доставки
				
				ul.list-arrow
					li 
						a(href="#moscow") По Москве и Подмосковью
					li
						a(href="#russia") В другие города и регионы России
					li
						a(href="#pickup") Самовывоз

				p Доставка Ваших заказов является одним из наших приоритетов. Занимаясь здоровьем, нам хотелось бы чтобы сервис Ayurvedamarket дарил Вам радость, поэтому, пожалуйста, если по какой-то причине этого не произошло и доставка огорчила Вас, свяжитесь с нами по телефону <u>8 (495) 120-10-54</u> — мы постараемся всё исправить. Будем рады, если сумеем оправдать Ваше доверие.

				a(name="moscow")
				.h2 Доставка по Москве и Подмосковью

				p  Мы доставляем заказы нашей собственной курьерской службой как правило на следующий день после их размещения. У нас нет «случайных» курьеров, поэтому вы всегда можете задать любой вопрос о покупаемых средствах или продуктах человеку, из чьих рук принимаете свой заказ.

				img(src="/assets/img/moscow-map.png", alt="")

				p <b>Заказы весом свыше 10 кг</b> - стоимость доставки рассчитывается индивидуально.

				a(name="russia")
				.h2 Доставка в другие города и регионы России

				p  Мы отправляем заказы Почтой России, транспортными компаниями
					| 
					a(href='https://www.cdek.ru/' target='_blank' tooltip='(откроется в новом окне)').link-text СДЭК
					|
					| и 
					a(href='http://boxberry.ru/' target='_blank' tooltip='(откроется в новом окне)').link-text Boxberry
					| 
					| Boxberry в течение двух дней после согласования условий получения.

				img(src="/assets/img/russia-delivery.png", alt="")

				p(style="font-size: 1rem;") Найти ближайший пункт выдачи заказов 
					b
						a(href='http://www.cdek.ru/contacts/moskva.html?utm_referrer=https%3a%2f%2fayurvedamarket.ru%2fabout_us%2fshipping&fa821dba_ipp_uid2=BFqx7g2LN7Mqlidd%2fBwcAjY2lZYarhGsrpbQp2w%3d%3d&fa821dba_ipp_uid1=1519743349682&fa821dba_ipp_key=1519743349682%2FK0rbrJZi6FudZj6OQYq0wA%3d%3d').link-blue СДЭК 
						| &nbsp;
						a(href='http://boxberry.ru/find_an_office/').link-blue Boxberry


				p
					b Рассчитываются индивидуально:
					br
					|Региональные заказы весом свыше 10 кг, независимо от места назначения.
					br
					|Заказы на любую сумму в Забайкальский край, респ. Саха — Дальний Восток и в отдалённые населённые пункты, куда возможна только авиадоставка.

				p
					i
						b Оплата наложенным платежом.
						| 
						|Обращаем Ваше внимание — посылки свыше 5000 рублей  оплачиваются банковским переводом или через Яндекс.Деньги, что сокращает стоимость почтовых расходов. 

				p
					i
						|Реквизиты для оплаты мы высылаем после обработки Вашего заказа оператором.
						br
						|При оплате заказа наложенным платежом взимается комиссия за перевод от общей суммы оплаты:
 
				p
					i
						|Boxberry — 3%
						br
						|СДЭК — 4%
						br
						|Почта России — от 4 до 6%

				a(name="pickup")
				.h2 Самовывоз

				p Вы также можете забрать заказ у нас в офисе с 9:00 до 19:00 по будням и с 10:00 до 17:00 в субботу. Наш администратор позвонит Вам и сообщит, когда заказ будет готов. Здесь же Вы сможете дополнить покупку и получить консультацию по товару. Оплата возможна любым удобным способом.

				p
					b Заказ будет ждать Вас в течение 5-ти дней по адресу:

				p(style='font-size: 1.125rem')
					img(src="/assets/img/Moscow_Metro.png", alt="", style="display: inline-block; width: 20px; margin-right: 2px;")
					| «Электрозаводская», Барабанный переулок, д. 4/4, на территории офисного центра вход № 5, этаж 2, офис 3

				.map
					script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A65731892af09a20837a04a85fc50d5e678253fda5a38c671d5a987105a70f727&width=100%25&height=400&lang=ru_RU&scroll=true')

				.h2 Как пройти?

				p(style="font-size: 1.125rem") Пешком от станции метро «Электрозаводская»:

				ul.list-circle.list-circle_green
					li Из дверей метро налево, в подземный переход
						+svg('ic-check','ic-check', '16', '12')

					li Из перехода вверх по диагонали, через двор — вы оказываетесь в Барабанном переулке
						+svg('ic-check','ic-check', '16', '12')

					li Далее вверх по улице до <span style="color: #ff6600">оранжевого</span> входа (проходная <i>Офисного центра на Барабанном</i>)
						+svg('ic-check','ic-check', '16', '12')

					li На охране сообщить, что вы направляетесь в Аюрведамаркет
						+svg('ic-check','ic-check', '16', '12')

					li <b>На внутренней территории вход 5</b> (цифру не видно от входа, но она там — между 4 и 6)
						+svg('ic-check','ic-check', '16', '12')

					li Далее на 2 этаж, офис №3 
						+svg('ic-check','ic-check', '16', '12')

				.article
					.article__list
						-
							var list=[
								{link:'/about_us/BD', img:'about1.jpg', title:'Бесплатная доставка', text:'Наша любимая акция! Выбирайте настоящую Аюрведу, экономя на доставке.'},
								{link:'/about_us/policy', img:'about2.jpg', title:'Политика конфиденциальности', text:'Политика конфиденциальности персональных данных.'},
								{link:'/about_us/reviews', img:'about3.jpg', title:'Отзывы', text:'Делитесь своим мнением, впечатлениями и замечаниями о товарах и работе магазина.'},
								{link:'/about_us/payment', img:'about4.jpg', title:'Способы оплаты', text:'Картой, наличными, переводом — оплачивайте покупки любым удобным для Вас способом.'},
								{link:'/about_us/contacts', img:'about5.jpg', title:'Контакты', text:'Приезжайте к нам в магазин на м. Электрозаводская. Будем рады встрече с вами!'},
								{link:'/about_us/discounts', img:'about6.jpg', title:'Программа скидок', text:'Накапливайте скидку постоянного покупателя с первой покупки.'},
								{link:'/about_us/about_us', img:'about7.jpg', title:'О нас', text:'Об Аюрведамаркет, наших проектах и о том, что обычно остаётся за кадром.'},
							]

						each item in list
							.article__item
								a.article__img(style="background-image: url(/assets/img/"+item.img+")", href=item.link)

								.article__content
									.article__title
										a(href=item.link)= item.title

									.article__text
										a(href=item.link)= item.text