extends ../layout/main

block variables
	- var title = 'Содержание';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'catalog-list.html',name:'Список товаров'},
			{href: 'catalog-list-full.html',name:'Список товаров без левой колонки'},
			{href: 'catalog-product.html',name:'Страница товара'},
			{href: 'delivery.html',name:'Доставка'},
			{href: 'about.html',name:'О нас'},
			{href: 'contacts.html',name:'Контакты'},
			{href: 'blog.html',name:'Блог'},
			{href: 'blog-detail.html',name:'Блог детальная'},
			{href: 'search-res.html',name:'Результаты поиска'},
			{href: 'training.html',name:'Обучение'},
			{href: 'basket.html',name:'Корзина'},
			{href: 'club.html',name:'Клуб'},
			{href: '404.html',name:'404'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	.page-wrap
		section
			h1 содержание
			ul
				each page in pagelist
					li
						a(href=page.href, target='_blank')= page.name


