extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-slider-wrap
		.top-action
			.top-action__item
				a(href="/club/", style="background-image: url(/assets/img/banner-club.jpg)").top-action__link
					span.top-action__count Нас 111 335

			.top-action__item
				a(href="https://ayurvedamarket.ru/spicy-guide", style="background-image: url(/assets/img/6227329.jpg)").top-action__link

		.top-slider.js-top-slider
			-
				var list=[
					{img:'/assets/img/top-slide1.jpg', link:'https://ayurvedamarket.ru/presents'},
					{img:'/assets/img/top-slide2.jpg', link:'https://ayurvedamarket.ru/novinki'},
					{img:'/assets/img/top-slide3.jpg', link:'https://ayurvedamarket.ru/Shri_Ganga'},
					{img:'/assets/img/top-slide4.jpg', link:'https://ayurvedamarket.ru/novinki/chavanprash-otzyvy/'},
					{img:'/assets/img/top-slide5.jpg', link:'https://ayurvedamarket.ru/honey_and_tea'},
					{img:'/assets/img/top-slide6.jpg', link:'https://ayurvedamarket.ru/zenslim'},
					{img:'/assets/img/top-slide7.jpg', link:'https://ayurvedamarket.ru/Holy_Om'},
					{img:'/assets/img/top-slide8.jpg', link:'https://ayurvedamarket.ru/knigi-po-ayurvede-ayurvedicheskaya-literatura-kupi'},
				]

			each item in list
				.top-slider__item
					a(href=item.link, style='background-image: url('+item.img+')').top-slider__link

	section.front-catalog
		.front-catalog__sect
			.front-catalog__col
				a(href="#").front-catalog__item(style="background-image: url('/assets/img/banner_8m_2.jpg')")
					.front-catalog__content
						.front-catalog__title Подарки любимым
					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

				a(href="#").front-catalog__item(style="background-image: url('/assets/img/Zubnye_pasty_2.jpg')")
					.front-catalog__content
						.front-catalog__title Зубные пасты на травах
					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

			.front-catalog__col
				a(href="#").front-catalog__item(style="background-image: url('/assets/img/Ukreplenye_immunyteta_2.jpg')")
					.front-catalog__content
						.front-catalog__title Укрепление иммунитета
					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

				a(href="#").front-catalog__item(style="background-image: url('/assets/img/Ozdorovytelnye_sredstva_2.jpg')")
					.front-catalog__content
						.front-catalog__title.front-catalog__title_small Оздоровительные средства

						.front-catalog-param
							.front-catalog-param__item Очищает от токсинов
							.front-catalog-param__item Улучшает кровь
							.front-catalog-param__item Нормадизует ЖКТ

					.front-catalog__info
						.front-catalog__title Оздоровительные средства
						.front-catalog__company Ayurvedamarket&reg;

						.front-catalog-param
							.front-catalog-param__item Очищает от токсинов
							.front-catalog-param__item Улучшает кровь
							.front-catalog-param__item Нормадизует ЖКТ

					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

		a(href="/lechebnye-ayurveda-masla-kupit/").front-action
			img(src="/assets/img/masla_farmolis.jpg", alt="").front-action__img
			
			.front-action__content
				.front-action__text Целебные масла от 140 руб.
				.front-action__link Купить


		.front-catalog__sect
			.front-catalog__col
				a(href="#").front-catalog__item(style="background-image: url('/assets/img/India_sladosty_2.jpg')")
					.front-catalog__content
						.front-catalog__title Индийские сладости

					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

				a(href="#").front-catalog__item(style="background-image: url('/assets/img/Genskoe_zdorovye_2.jpg')")
					.front-catalog__content
						.front-catalog__title Женское здоровье

					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

			.front-catalog__col
				a(href="#").front-catalog__item(style="background-image: url('/assets/img/Ayurvedicheskie_podarky_2.jpg')")
					.front-catalog__content
						.front-catalog__title Аюрведические подарки

					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

				a(href="#").front-catalog__item(style="background-image: url('/assets/img/Knigi_po_Ayurvede_2.jpg')")
					.front-catalog__content
						.front-catalog__title Книги по аюрведе

					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

		.front-catalog__sect
			a(href="#").front-catalog__item(style="background-image: url('/assets/img/Sredstva_dlya_snygenya_vesa_2.jpg')")
				.front-catalog__content
					.front-catalog__title Средства для снижения веса

				.front-catalog__arr
					+svg('ic-arrow-right','ic-arrow-right', '54', '80')

		.front-catalog__sect
			.front-catalog__col
				a(href="#").front-catalog__item(style="background-image: url('/assets/img/Naturalnoe_pitanye_2.jpg')")
					.front-catalog__content
						.front-catalog__title Наткральные продукты питания

					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

				a(href="#").front-catalog__item(style="background-image: url('/assets/img/eco_tovary_2.jpg')")
					.front-catalog__content
						.front-catalog__title Эко-товары

					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

			.front-catalog__col
				a(href="#").front-catalog__item(style="background-image: url('/assets/img/Spezii_i_prjanosty_2.jpg')")
					.front-catalog__content
						.front-catalog__title Специи и пряности

					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

				a(href="#").front-catalog__item(style="background-image: url('/assets/img/Ayurvedicheskie_sredstva_dety_2.jpg')")
					.front-catalog__content
						.front-catalog__title Аюрведические средства для детей

					.front-catalog__arr
						+svg('ic-arrow-right','ic-arrow-right', '54', '80')

	section.reasons
		.reasons__main
			.reasons__img
				img(src="/assets/img/reasons.jpg", alt="")

			.reasons__head Почему Ayurvedamarket является крупнейшим аюрведическим интернет-магазином в России

		.reasons__content
			-
				var list=[
					{title:'1. Опыт', text:'11 лет нашего опыта позволяют выбирать лучших производителей и импортеров, с нами хотят работать'},
					{title:'2. Качество', text:'Мы продвеи только сертифицированную продукцию, отбирая и тестируя ее прежде чем она попадает на наши витрины'},
					{title:'3. Гарантии', text:'нам доверяют тысячи клиентов, зная о возможностивернуть любойзаказанный продукт или услугу'},
					{title:'4. Компетентность', text:'мы - одни из основателей аюрведического рынка в России, с нами сотрудничают аюрведические центры и десятки аюрведических специалистов'},
					{title:'5. Миссия', text:'для нас это не бизнес, мы любим то, что делвем и делаем это с удовольствием для вас'},
					{title:'', text:''},
				]
			each item in list
				.reasons__item
					.reasons__title= item.title
					.reasons__text= item.text