/* Lato */
@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Regular.eot');
	src: local('Lato Regular'), local('Lato-Regular'),
		url('#{$path-fonts}/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Regular.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Black.eot');
	src: local('Lato Black'), local('Lato-Black'),
		url('#{$path-fonts}/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Black.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-SemiboldItalic.eot');
	src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'),
		url('#{$path-fonts}/Lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-SemiboldItalic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-BlackItalic.eot');
	src: local('Lato Black Italic'), local('Lato-BlackItalic'),
		url('#{$path-fonts}/Lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-BlackItalic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-MediumItalic.eot');
	src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
		url('#{$path-fonts}/Lato/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-MediumItalic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Medium.eot');
	src: local('Lato Medium'), local('Lato-Medium'),
		url('#{$path-fonts}/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Medium.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Italic.eot');
	src: local('Lato Italic'), local('Lato-Italic'),
		url('#{$path-fonts}/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Italic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Semibold.eot');
	src: local('Lato Semibold'), local('Lato-Semibold'),
		url('#{$path-fonts}/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Semibold.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Bold.eot');
	src: local('Lato Bold'), local('Lato-Bold'),
		url('#{$path-fonts}/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Bold.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-BoldItalic.eot');
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
		url('#{$path-fonts}/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-BoldItalic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-LightItalic.eot');
	src: local('Lato Light Italic'), local('Lato-LightItalic'),
		url('#{$path-fonts}/Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-LightItalic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Light.eot');
	src: local('Lato Light'), local('Lato-Light'),
		url('#{$path-fonts}/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Light.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* HelveticaNeueCyr */
@font-face {
	font-family: 'HelveticaNeueCyr';
	src:  url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Light.eot');
	src: local('HelveticaNeueCyr-Light'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Light.woff') format('woff'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src:  url('#{$path-fonts}/helvetica/HelveticaNeueCyr-LightItalic.eot');
	src: local('HelveticaNeueCyr-LightItalic'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-LightItalic.woff') format('woff'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src:  url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Bold.woff') format('woff'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src:  url('#{$path-fonts}/helvetica/HelveticaNeueCyr-BoldItalic.eot');
	src: local('HelveticaNeueCyr-BoldItalic'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
		 url('#{$path-fonts}/helvetica/HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Medium.eot');
	src: local('HelveticaNeueCyr-Medium'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('#{$path-fonts}/helvetica/HelveticaNeueCyr-MediumItalic.eot');
	src: local('HelveticaNeueCyr-MediumItalic'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Italic.eot');
	src: local('HelveticaNeueCyr-Italic'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Italic.woff') format('woff'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Roman.eot');
	src: local('HelveticaNeueCyr-Roman'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Roman.woff') format('woff'),
		url('#{$path-fonts}/helvetica/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
