//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Lato', Arial, sans-serif;
$font-helvetica: 'HelveticaNeueCyr', Arial, sans-serif;

// Site
$color-text: #636466;
$color-orange: #f7941e;
$color-dark-orange: #d8841d;
$color-green: #bfd730;
$color-dark-green: #79AD36;
$color-blue: #04BBDE;