.header{position: relative;}

.header-sticker{
	&__left,
	&__right{
		position: fixed;
		top: 0;
	}

	&__left{left: calc(50% - 650px);}
	&__right{right: calc(50% - 650px);}
}

.header-top{
	display: flex;
	justify-content: space-between;
	min-height: 49px;
	background: #f5f5f5;
	border-bottom: solid 2px #e9e9e9;

	&__profile{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		@include font(normal, normal, rem(16px), 1.2, #565656);
		text-decoration: none;
		padding: 0 24px;
		transition: background 0.2s ease 0s;
		position: relative;

		.icon{display: none;}
	}

	&__profile::after{
		content: '';
		display: inline-block;
		width: 1px;
		height: 28px;
		background: #e9e9e9;
		position: absolute;
		@include top-center;
		right: 0;
	}

	&__profile:hover{background: #e9e9e9;}
}

.top-menu{
	flex-grow: 7;
	border-right: solid 2px #e9e9e9;

	&__list,
	&__item,
	&__sub{
		@include reset-list;
	}

	&__list{
		display: flex;
		height: 100%;
	}

	&__item,
	&__link{
		@include font(normal, normal, rem(16px), 1.2, #565656);
		text-decoration: none;
	}

	&__item{flex-grow: 1;}

	&__link{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		transition: background 0.2s ease 0s;
		padding: 0 10px;
	}

	&__link:hover,
	&__item.active &__link{
		background: #e9e9e9;
	}

	&__sub{
		position: absolute;
		top: 100%;
		left: 0;
		background: #f5f5f5;
		border: solid 1px #e9e9e9;
	}

	&__sub &__link{
		display: block;
		padding: 8px 24px;
		text-align: left;
		white-space: nowrap;
	}
}

.header-basket{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	@include font(normal, normal, rem(16px), 1.2, $color-dark-green);
	text-decoration: none;
	text-align: center;
	padding: 0 24px;
	transition: background 0.2s ease 0s;

	&__label,
	&__sum{
		font-weight: bold;
	}

	&__icon{
		display: inline-block;
		vertical-align: middle;
		margin-right: 8px;

		.icon.ic-stroke{stroke: $color-dark-green;}
	}

	&:hover{background: #e9e9e9;}
}

.header-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 259px;
	background: url(../img/bg-top-block.jpg) no-repeat 80% 0;

	&__info{
		max-width: 385px;
		padding: 28px 14px 15px;
	}

	&__logo{
		display: inline-block;
		width: 310px;
	}

	&__slogan{
		max-width: 280px;
		@include font(normal, 300, rem(30px), 1.2, #565656);
		margin: 7.5px;
		position: relative;
	}

	&__sticker{
		display: inline-block;
		width: 81px;
		position: absolute;
		top: 5px;
		right: -72px;
	}

	.yandex-market-label{
		height: 31px;
		margin-top: 23px;
	}
}

.header-contacts{
	padding: 21px 20px 9px;
	text-align: right;

	.icon{fill: #aeaeae;}

	&__item:not(:last-child){
		padding-bottom: 9px;
		margin-bottom: 14px;
		border-bottom: solid 1px #eee;
	}

	&__phone{
		@include font(normal, normal, rem(24px), 1.2, #565656);
		text-decoration: none;
	}

	&__delivery{
		@include font(normal, normal, rem(16px), 1.2, #565656);

		.icon{
			margin-right: 5px;
			margin-top: -2px;
		}
	}
}

.header-time{
	@include font(normal, normal, rem(16px), rem(24px), #565656);

	&__title{font-weight: bold;}

	.icon{
		fill: #aeaeae;
		margin-right: 8px;
	}
}

.header-nav{
	background: #f5f5f5;

	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;

		.main-menu{flex-grow: 1;}
		.form-search{margin: 0 21px;}
	}
}

.main-menu{
	&__list{
		display: flex;
		min-height: 49px;
	}

	&__list,
	&__item{
		@include reset-list;
	}

	&__item{flex-grow: 1;}
	
	&__link{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		@include font(normal, normal, rem(16px), 1.2, #565656);
		text-decoration: none;
		text-transform: uppercase;
		padding: 0 10px;
		transition: all 0.2s ease 0s;
	}

	&__item:hover &__link,
	&__item.active &__link{
		background: #e9e9e9;
	}

	&_orange &__link{color: #d0844f;}
}

.main-menu-sub{
	background: #f5f5f5;
	border: solid 1px #e9e9e9;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;

	&__item:not(:last-child){border-right: solid 1px #e9e9e9;}

	&__link{
		display: block;
		@include font(normal, normal, rem(16px), 1.2, #565656);
		text-decoration: none;
		white-space: nowrap;
		padding: 8px 24px;
		transition: all 0.2s ease 0s;
	}

	&__link:hover,
	&__link.active{
		background: #e9e9e9;
	}

	&__new{
		@include font(normal, bold, rem(14.4px), 1.2, #e24f00);
		margin-left: 2px;
	}
}

@media (max-width: 1360px) {
	.header-sticker{display: none;}
}

@media (min-width: 1101px) {
	.top-menu{
		&__sub{display: none;}
		&__item:hover &__sub{display: block;}
		&__arr{display: none;}
		&__item{position: relative;}
	}

	.main-menu{
		&__item:hover .main-menu-sub{display: flex;}
		&__arr{display: none;}

		&__item,
		&__list{
			position: relative;
		}
		
		&__item:nth-last-child(-n+3) .main-menu-sub{
			top: auto;
			bottom: 100%;
		}
	
		&__item:nth-last-child(-n+2),
		&__item:nth-child(3){
			position: static;
		}
	
		&__item:nth-last-child(-n+2) .main-menu-sub{
			left: auto;
			right: 0;
		}
	}

	.main-menu-sub{display: none;}
}

@media (max-width: 1100px) {
	.header-top{
		justify-content: flex-end;
		position: relative;
		padding-left: 65px;

		.top-menu{display: none;}

		&__profile,
		.header-basket{flex-grow: 0;}

		.ic-hamburger{
			position: absolute;
			@include top-center;
			left: 20px;
		}
	}

	.header-nav{
		&__top,
		.main-menu{
			display: none;
		}

		&__bottom{padding: 5px 0;}

		.form-search{width: 100%;}
	}

	.header-main{
		background-position: 80% 100%;
		background-size: 60%;
	}

	.mobile-menu{
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		width: 80vw;
		background: #fff;
		z-index: 1000;
		overflow-y: auto;
		overflow-x: hidden;
		transition: left 0.3s ease;

		&.open{left: 0;}

		&__head{
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 65px;
			padding: 17px 15px;
			border-bottom: 1px solid #e5e5e5;
		}

		&__title{
			@include font(normal, bold, 15px, 1.15, #565656);
			text-transform: uppercase;
		}

		&__title.active{
			cursor: pointer;
		}

		&__content-wrap{
			height: calc(100vh - 65px);
			overflow-y: auto;
			overflow-x: hidden;
		}

		&__content{
			transform: translateX(0);
			transition: all 0.5s ease 0s;
			display: block;
		}

		.top-menu{
			&__list,
			&__link{
				display: block;
			}

			&__link{
				padding: 10px 30px 10px 15px;
				position: relative;
			}

			&__arr{
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 30px;
				position: absolute;
				top: 5px;
				right: 0;
			}

			&__sub{
				width: 100%;
				background: transparent;
				border: 0;
				top: 0;
				left: 100%;
				display: none;
			}

			&__sub.active{display: block;}
		}

		.main-menu{
			&__list,
			&__link{
				display: block;
			}

			&__link{
				padding: 10px 30px 10px 15px;
				text-transform: none;
				position: relative;
			}

			&:last-child{margin-bottom: 20px;}

			&__arr{
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 30px;
				position: absolute;
				top: 5px;
				right: 0;
			}
		}

		.main-menu-sub{
			width: 100%;
			background: transparent;
			border: 0;
			top: 0;
			left: 100%;
			display: none;

			&.active{display: block;}

			&__link{padding: 10px 15px;}
		}
	}
}

@media (max-width: 767px) {
	.header-basket{
		font-size: 0;
		padding: 0 15px;

		&__label,
		&__text,
		&__sum{
			display: none;
		}

		&__icon .icon.ic-stroke{stroke: #696969;}
	}

	.header-top{
		justify-content: space-between;
		width: 100%;
		height: 40px;
		min-height: 0;
		padding-left: 0;
		border-width: 1px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 998;

		.ic-hamburger{
			position: relative;
			transform: none;
			top: auto;
			left: auto;
		}

		&__profile,
		&__search,
		&__home,
		&__menu{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0 15px;
			transition: all 0.2s ease 0s;

			.icon{fill: #696969;}
		}

		&__menu{
			.ic-hamburger:hover{
				span,
				span::after,
				span::before{background: #888;}
			}
		}

		&__search .icon{fill: #5c5c5c;}

		&__search:hover,
		&__home:hover,
		&__menu:hover{
			background: #e9e9e9;
		}

		&__profile{
			font-size: 0;
			
			.icon{display: inline-block;}
		}

		&__profile::after{display: none;}
	}

	.header-main{
		display: block;
		height: auto;
		background-position: 125% 100%;

		&__info{
			max-width: 100%;
			padding: 10px 0;
		}

		.yandex-market-label{
			position: absolute;
			top: 88px;
			right: 10px;
			margin: 0;
		}

		&__slogan{display: none;}

		&__logo{
			display: block;
			width: 250px;
			margin: 0 auto;
		}

		&__sticker{
			display: none;
			top: 35px;
			right: 0;
		}
	}

	.header-contacts{
		text-align: left;
		padding-left: 0;
		padding-right: 0;

		&__item{
			padding-left: 15px;
			padding-right: 15px;
		}

		&__phone{font-size: rem(20px);}
	}

	.header-nav{
		&__bottom .form-search{margin: 0 15px;}
	}

	.mobile-menu{width: 90vw;}
}