html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 16px, 1.2, $color-text);
	box-sizing:border-box;
	height:100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-orange;
	text-decoration: underline;
}

a:hover{text-decoration: none;}

p{padding: 0 0 17px;}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.2;
	color: $color-text;
}

h1,.h1{
	font-size: rem(32px);
	margin-bottom: 20px;
}

h2,.h2{
	font-size: rem(24px);
	margin-bottom: 10px;
}

h3,.h3{
	font-size: rem(20px);
	margin-bottom: 10px;
}

h4,.h4{
	font-size: rem(18px);
	margin-bottom: 10px;
}

h5,.h5{
	font-size: rem(16px);
	margin-bottom: 0;
}

.st-container{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #ddd;
}

main{
	flex: 1 1 auto;
	padding-bottom: 25px;
	width: 100%;
	font-size: rem(14px);
}

.page-wrap{padding: 40px;}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-block;
	height: 26px;
	background: $color-orange;
	border: 1px solid transparent;
	@include font(normal, 500, rem(12px), 24px, #fff);
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
}

.btn:hover,
input[type="submit"].btn:hover,
button.btn:hover{
	background: $color-dark-orange;
	color: #fff;
}

.btn_green,
input[type="submit"].btn_green,
button.btn_green{
	background: $color-green;
}

.btn_green:hover,
input[type="submit"].btn_green:hover,
button.btn_green:hover{
	background: $color-dark-green;
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

.move-up{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 50px;
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;

	.icon{
		fill: #000;
		transition: all 0.2s ease 0s;
	}

	&.visible{opacity: 1;}
	&:hover .icon{fill: $color-orange;}
}