html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 16px, 1.2, $color-text);
	box-sizing:border-box;
	height:100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-orange;
	text-decoration: underline;
}

a:hover{text-decoration: none;}

.link-text{color: inherit;}

.link-blue{
	color: #0000ee;
	text-decoration: none;
}

.link-blue:hover{text-decoration: underline;}

p{
	padding: 0;
	margin: 0 0 17px 0;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.2;
	color: $color-text;
}

h1,.h1{
	font-size: rem(32px);
	margin-bottom: 20px;
}

h2,.h2{
	font-size: rem(25px);
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 15px;
}

h3,.h3{
	font-size: rem(16px);
	font-weight: 500;
	color: $color-orange;
	text-transform: uppercase;
	margin-top: 47px;
	margin-bottom: 37px;
}

h4,.h4{
	font-size: rem(16px);
	font-weight: 300;
	color: $color-orange;
	margin-top: 20px;
	margin-bottom: 10px;
}

h5,.h5{
	font-size: rem(16px);
	margin-bottom: 0;
}

.st-container{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #ddd;
}

main{
	flex: 1 1 auto;
	padding-bottom: 25px;
	width: 100%;
	font-size: rem(14px);
}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-block;
	height: 26px;
	background: $color-orange;
	border: 1px solid transparent;
	@include font(normal, 500, rem(12px), 24px, #fff);
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	padding: 0 10px;
	text-align: center;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.btn:hover,
input[type="submit"].btn:hover,
button.btn:hover{
	background: $color-dark-orange;
	color: #fff;
}

.btn_green,
input[type="submit"].btn_green,
button.btn_green{
	background: $color-green;
	font-family: $font-helvetica;
	color: #3f3d1d;
	font-weight: 300;
}

.btn_green:hover,
input[type="submit"].btn_green:hover,
button.btn_green:hover{
	background: $color-dark-green;
	color: #3f3d1d;
}

.btn_grey,
input[type="submit"].btn_grey,
button.btn_grey{
	background: #939598;
	font-family: $font-helvetica;
	color: #231F20;
	font-weight: 300;
}

.btn_grey:hover,
input[type="submit"].btn_grey:hover,
button.btn_grey:hover{
	background: #797b7e;
	color: #231F20;
}

.btn_yellow,
input[type="submit"].btn_yellow,
button.btn_yellow{
	background: #f5eb16;
	font-family: $font-helvetica;
	color: #231F20;
	font-weight: 300;
}

.btn_yellow:hover,
input[type="submit"].btn_yellow:hover,
button.btn_yellow:hover{
	background: #d8ce14;
	color: #231F20;
}

.btn_border,
input[type="submit"].btn_border,
button.btn_border{
	background: transparent;
	border-color: #b6b2b1;
	color: #969391;
}

.btn_border:hover,
input[type="submit"].btn_border:hover,
button.btn_border:hover{
	background: transparent;
	border-color: $color-orange;
	color: $color-orange;
}

.btn_big,
input[type="submit"].btn_big,
button.btn_big{
	height: 42px;
	font-size: rem(15px);
	line-height: rem(40px);
	padding: 0 20px;
}

.btn-shadow,
input[type="submit"].btn-shadow,
button.btn-shadow{
	display: inline-block;
	height: 38px;
	min-width: 215px;
	background: #98ef00;
	border: 0;
	font-family: $font-helvetica;
	@include font(normal, 300, rem(19px), 38px, #fff);
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	padding: 0 10px;
	text-align: center;
	box-shadow: -2px 3px 0px #c4c4c4;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.btn-shadow:hover,
input[type="submit"].btn-shadow:hover,
button.btn-shadow:hover{
	background: #7fc703;
	box-shadow: none;
}


.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

.move-up{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 50px;
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;

	.icon{
		fill: #000;
		transition: all 0.2s ease 0s;
	}

	&.visible{opacity: 1;}
	&:hover .icon{fill: $color-orange;}
}