header.header
	.header-sticker
		a.header-sticker__left(href="https://ayurvedamarket.ru/presents")
			img(src="assets/img/sticker-left.png", alt="")

		a.header-sticker__right(href="https://ayurvedamarket.ru/top_au")
			img(src="assets/img/sticker-right.png", alt="")

	.header-top
		a(href="/").header-top__home.d-md-none
			+svg('ic-home','ic-home', '24', '24')

		.header-top__menu
			.ic-hamburger.js-open-menu.d-lg-none
				span

		a(href="#").header-top__search.d-md-none
			+svg('ic-search','ic-search', '20', '20')

		nav.top-menu.js-add-mm(data-order="1")
			ul.top-menu__list
				li.top-menu__item
					a(href="/about_us/shipping").top-menu__link.js-menu-link
						span.js-menu-text Доставка
				li.top-menu__item
					a(href="#").top-menu__link.js-menu-link
						span.js-menu-text Для клиентов
						.top-menu__arr.js-menu-arr
							+svg('ic-arrow-next','ic-arrow-next', '8', '15')

					ul.top-menu__sub.js-menu-sub
						li.top-menu__item
							a(href="/about_us/17963/").top-menu__link.js-menu-link
								span.js-menu-text Программа скидок
						li.top-menu__item
							a(href="/about_us/19365/").top-menu__link.js-menu-link
								span.js-menu-text Способы оплаты
						li.top-menu__item
							a(href="/about_us/20889/").top-menu__link.js-menu-link
								span.js-menu-text Ваши отзывы

				li.top-menu__item
					a(href="/about_us").top-menu__link.js-menu-link О нас
				li.top-menu__item
					a(href="/about_us/19363").top-menu__link.js-menu-link Контакты

		a(href="/cabinet").header-top__profile Ваш кабинет
			+svg('ic-user','ic-user', '20', '20')

		a(href="/showcart").header-basket
			span.header-basket__icon
				+svg('ic-cart','ic-cart ic-stroke', '23', '21')
			span.header-basket__label Корзина:
			|&nbsp;
			span.header-basket__text 0 товаров на
			|&nbsp;
			span.header-basket__sum 0 ₽

	.header-main(class=header_short=='true'?'header-main_mob-short':'')
		.header-main__info
			a(href="/", tooltip="Аюрведамаркет").header-main__logo
				img(src="data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 750 150' style='enable-background:new 0 0 750 150;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23D1844F;%7d %3c/style%3e%3cg%3e%3cpath class='st0' d='M673.7,11.6c-3,0.2-7.6,5.8-7.9,10.1C668.5,18.3,671.1,15,673.7,11.6 M664.5,37c3.4,0.5,6.8,0.5,10.2,0 c2.6-0.4,5.2-1.2,7.3-3c0.2-0.2,0.8-0.3,0.6-0.7c-0.2-0.5-0.6,0-0.9,0.1c-1.8,0.7-3.7,1.2-5.6,1.6C672.3,35.8,668.4,36.1,664.5,37 M667.2,49c-6.8,2.6-14,2.7-21,4.3c5.7,0.4,11.3,0.3,16.8-1.5C664.6,51.2,666.2,50.5,667.2,49 M648.6,36.2 c1.1-3.4,2.1-6.7,3.2-10.1c1.1-3.4,2.6-6.5,4.8-9.5C651.8,18.4,647.4,29.6,648.6,36.2 M622.4,86.1c0.3-0.8,0.6-1.7,0.9-2.5 c2.9-9.2,7.4-17.5,13.3-25.1C645,47.5,655,38.3,665.9,30c8.9-6.8,18.5-12.7,28.1-18.5c0.3-0.2,0.8-0.3,0.9-0.8 c-0.5-0.1-0.8,0.2-1.1,0.4c-2,0.9-3.9,1.9-5.9,2.8c-17.1,8.1-32.4,18.7-45.2,32.8c-6.3,6.9-11.6,14.5-15.4,23 C624.9,74.9,623.2,80.4,622.4,86.1 M637.3,66.2c0.2,0.5,0.5,0.4,0.7,0.4c5.4,0.6,10.8,0.2,16-1.1c12.1-2.9,21.6-9.7,29.3-19.3 c7.1-8.7,11.4-18.8,14.4-29.6c0.3-1,0.7-1.9,0.7-3c-0.5,0.3-0.6,0.7-0.8,1.1c-1.4,3.1-2.8,6.1-4.4,9c-4.4,8.4-9.5,16.2-16,23.1 c-8.1,8.5-17.6,14.5-29,17.5C644.7,65.3,641.1,65.9,637.3,66.2'/%3e%3cpath class='st0' d='M679.6,5.4c1.4,0.5,3,0.4,4.5,0.7c1.4,0.3,2.8,0.4,4.3,0.9c-0.6,0.6-1.1,0.1-1.5,0.1c-9.6-0.2-19.1,0.5-28.2,4 C649,15,642.4,21.9,638,31.3c-2.7,5.7-4.3,11.7-4.7,18c0,0.3-0.1,0.5-0.1,1c-0.8-5.5,0-10.5,1.3-15.5c1.9-7.4,5.3-13.9,11-19.2 c5.4-5,11.9-7.9,19.1-9.2c2-0.4,3.9-0.6,5.9-0.9H679.6L679.6,5.4z'/%3e%3cpath class='st0' d='M622.4,86.1c0.7-5.7,2.4-11.2,4.8-16.5c3.8-8.6,9.2-16.1,15.4-23c12.8-14,28.1-24.7,45.2-32.8 c2-0.9,3.9-1.9,5.9-2.8c0.3-0.2,0.7-0.5,1.1-0.4c-0.1,0.5-0.6,0.6-0.9,0.8c-9.6,5.8-19.1,11.7-28.1,18.5 c-10.9,8.3-21,17.5-29.3,28.5c-5.8,7.6-10.3,16-13.3,25.1C623.1,84.4,622.7,85.3,622.4,86.1'/%3e%3cpath class='st0' d='M648.6,36.2c-1.2-6.6,3.3-17.9,8-19.6c-2.1,3-3.6,6.2-4.8,9.5C650.7,29.5,649.6,32.9,648.6,36.2'/%3e%3cpath class='st0' d='M667.2,49c-1,1.6-2.6,2.3-4.2,2.8c-5.5,1.8-11.1,1.8-16.8,1.5C653.1,51.6,660.4,51.6,667.2,49'/%3e%3cpath class='st0' d='M664.5,37c3.8-1,7.7-1.3,11.6-2c1.9-0.4,3.8-0.9,5.6-1.6c0.3-0.1,0.7-0.6,0.9-0.1c0.2,0.4-0.4,0.5-0.6,0.7 c-2.1,1.8-4.7,2.6-7.3,3C671.3,37.6,667.9,37.5,664.5,37'/%3e%3cpath class='st0' d='M673.7,11.6c-2.7,3.4-5.3,6.7-7.9,10.1C666.2,17.4,670.7,11.8,673.7,11.6'/%3e%3cpath class='st0' d='M732.6,79.3h-9.8V64.7h-13.1v14.5h-8v9h8v25c0,11.8,3.5,14.7,14.9,14.7c3,0,4.4-0.1,8-0.4v-10.1 c-1.6,0.2-2.6,0.2-4,0.2c-5.7,0-5.8-2.1-5.8-6.8V88.2h9.8V79.3L732.6,79.3z M686.5,98.3h-21.1c0.7-6.7,4.8-10.8,10.7-10.8 C682.8,87.5,685.9,92.4,686.5,98.3 M699.2,112.5h-12.7c-2,4.8-4.9,7-9.8,7c-7.1,0-11.1-4.5-11.3-12.8h34.5v-1.3 c0-16.9-9.2-27.5-23.8-27.5c-14,0-24.2,10.8-24.2,25.7c0,15.1,9.8,25.2,24.6,25.2C687.5,128.8,696.2,122.9,699.2,112.5 M651,79.3 h-15.6l-17,17.3V61h-13v66.4h13v-16.3l5.4-5l13.2,21.4h16l-20.2-30.3L651,79.3L651,79.3z M600.4,78.4c-1.3-0.2-1.9-0.3-2.9-0.3 c-7.2,0-12.6,3.7-15.6,10v-8.9h-12.6v48.1h13.2v-22c0-8.8,3.5-15.3,12.7-15.3c1.5,0,2.8,0.1,5.1,0.6V78.4L600.4,78.4z M546.8,104 v5.4c0,6.9-4.8,10.7-11.8,10.7c-4.6,0-7.3-2.4-7.3-6.4c0-5.9,5.1-6.4,9.7-7.2C540.8,106,543.7,105.8,546.8,104 M561.3,127.4 c-1.8-4.1-1.7-8.7-1.7-13.1V93.6c0-13.4-11.3-15.7-21-15.7c-13.9,0-21.5,5.5-22.3,16.2h12.4c0.9-5.5,3.5-7.4,9.5-7.4 c5.9,0,8.7,2.1,8.7,6.4c0,3.9-3.2,4.7-11.7,5.8c-9.5,1.2-21,2.7-21,15.3c0,9,6.5,14.5,17.2,14.5c5.8,0,11.5-2,15.6-6.1 c0.2,2.1,0.3,2.9,0.9,4.7H561.3L561.3,127.4z M506.9,127.4V95c0-10.3-5.6-17.1-16.4-17.1c-6.8,0-11.9,2.7-15.8,7.9 c-2.4-5.3-7.3-7.9-13.6-7.9c-6.8,0-11.6,2.7-15.3,7.9v-6.6h-12.6v48.1h13.2v-26.1c0-6.5,2-12.6,9.6-12.6c6.2,0,7.3,4.3,7.3,9.4 v29.3h13.2v-27c0-6.5,2.3-11.6,9.2-11.6c6.8,0,7.6,4.6,7.6,9.9v28.7H506.9L506.9,127.4z M410.6,104v5.4c0,6.9-4.8,10.7-11.8,10.7 c-4.6,0-7.3-2.4-7.3-6.4c0-5.9,5.1-6.4,9.7-7.2C404.6,106,407.5,105.8,410.6,104 M425,127.4c-1.8-4.1-1.7-8.7-1.7-13.1V93.6 c0-13.4-11.3-15.7-21-15.7c-13.9,0-21.5,5.5-22.3,16.2h12.4c0.9-5.5,3.5-7.4,9.5-7.4c5.9,0,8.7,2.1,8.7,6.4c0,3.9-3.2,4.7-11.8,5.8 c-9.5,1.2-21,2.7-21,15.3c0,9,6.5,14.5,17.2,14.5c5.8,0,11.5-2,15.6-6.1c0.2,2.1,0.3,2.9,0.9,4.7H425L425,127.4z M358.1,103.3 c0,9.4-4.2,14.8-11.5,14.8c-7.1,0-11.4-5.6-11.4-14.9c0-9.2,4.2-14.7,11.4-14.7C353.8,88.4,358.1,93.9,358.1,103.3 M370.7,127.4V61 h-13.2v24.2c-3.1-4.9-9-7.3-14.6-7.3c-12.8,0-21.1,10-21.1,25.2c0,15.6,8.5,25.6,21.8,25.6c6.6,0,11.4-2.5,14.5-7.5v6.2H370.7 L370.7,127.4z M303.4,98.3h-21.1c0.7-6.7,4.8-10.8,10.7-10.8C299.7,87.5,302.8,92.4,303.4,98.3 M316.1,112.5h-12.7 c-2,4.8-4.9,7-9.8,7c-7.1,0-11.1-4.5-11.3-12.8h34.5v-1.3c0-16.9-9.2-27.5-23.8-27.5c-14,0-24.2,10.8-24.2,25.7 c0,15.1,9.8,25.2,24.6,25.2C304.4,128.8,313.1,122.9,316.1,112.5 M255.1,79.3l-10.3,32.8l-10.3-32.8h-14l16.5,48.1h14.8l16.3-48.1 H255.1L255.1,79.3z M218.1,78.4c-1.3-0.2-1.9-0.3-2.9-0.3c-7.2,0-12.6,3.7-15.6,10v-8.9h-12.6v48.1h13.2v-22 c0-8.8,3.5-15.3,12.7-15.3c1.5,0,2.8,0.1,5.1,0.6V78.4L218.1,78.4z M177.4,79.3h-13.1v24.8c0,7.3-2.1,13.6-10.4,13.6 c-7.6,0-8.1-4.9-8.1-10.9V79.3h-13.3v32.4c0,11.5,6.4,17.2,16.8,17.2c6.9,0,12-2.9,15.7-8.2v6.8h12.6V79.3L177.4,79.3z M127.9,79.3 h-13.7L103.5,112l-11-32.7H78.3l17.4,46c0.2,0.6,0.4,1.4,0.4,1.9c0,4-2.3,6.4-6.7,6.4h-6.4v10.9c6.4,0.1,4.8,0.1,8.9,0.1 c12.2,0,14.5-6.7,18.4-17.3L127.9,79.3L127.9,79.3z M58.9,102H41.2l8.9-24.7L58.9,102L58.9,102z M57.7,60.9h-15l-25.3,66.5h14.9 l5.4-14.8h24.7l5.2,14.8h15.3L57.7,60.9L57.7,60.9z'/%3e%3c/g%3e%3c/svg%3e", alt="")

			.header-main__slogan Крупнейший магазин Аюрведы
				.header-main__sticker
					img(src="assets/img/sticker-year.svg", alt="")

			.yandex-market-label
				a(href='https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73582/path=dynamic.88x31/*https://market.yandex.ru/shop--aiurveda-market/6941/reviews')
					img(src='https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73581/path=dynamic.88x31/*https://grade.market.yandex.ru/?id=6941&action=image&size=0' alt='Читайте отзывы покупателей и оценивайте качество магазина Аюрведа Маркет на Яндекс.Маркете' border='0')

		.header-contacts
			.header-contacts__item
				a(href='tel:+74951201054').header-contacts__phone
					| +7 495 120 10 54
					+svg('ic-phone','ic-phone', '23', '23')

			.header-contacts__item
				.header-contacts__delivery
					+svg('ic-plane','ic-plane', '25', '25')
					| Доставка по всей России

			.header-contacts__item
				.header-time
					.header-time__head
						+svg('ic-bell','ic-bell', '30', '30')
						span.header-time__title Режим работы:
					.header-time__text
						| Пн-Пт 9:00-19:00
						br
						| Сб-Вс 10:00-17:00

	.header-nav
		.header-nav__top
			nav.main-menu.js-add-mm(data-order="2")
				ul.main-menu__list
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/food')
							span.js-menu-text Питание
							.main-menu__arr.js-menu-arr
								+svg('ic-arrow-next','ic-arrow-next', '8', '15')

						.main-menu-sub.js-menu-sub
							.main-menu-sub__item
								a.main-menu-sub__link(href='/honey_and_tea')
									| Русский мёд & Индийский чай 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/indijskie-specii-ayurveda-kupit') Специи
								a.main-menu-sub__link(href='/ecofood') Суперфуды & экопродукты
								a.main-menu-sub__link(href='/nuts')
									| Ягоды, орехи и сухофрукты 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/spices_100') Специи и масалы до 100₽
								a.main-menu-sub__link(href='/cereals') Крупы
								a.main-menu-sub__link(href='/bean') Бобовые
								a.main-menu-sub__link(href='/basmati') Рис басмати
								a.main-menu-sub__link(href='/muka_makarony') Мука и макаронные изделия
								a.main-menu-sub__link(href='/sauce') Соусы, пасты и консервированные продукты
								a.main-menu-sub__link(href='/masla') Масла
								a.main-menu-sub__link(href='/tea') Чай, кофе и другие напитки
								a.main-menu-sub__link(href='/med_sahar') Мёд, сахар, заменители сахара
								a.main-menu-sub__link(href='/sweets') Cладости
								a.main-menu-sub__link(href='/snack') Полезные перекусы
								a.main-menu-sub__link(href='/good_fast_food') Готовые блюда & блюда быстрого приготовления
								a.main-menu-sub__link(href='/maslo_ghi') Масло "Гхи"
								a.main-menu-sub__link(href='/veg_kolbas_syr') Вегетарианские колбасы, сыры, паштеты
							.main-menu-sub__item
								a.main-menu-sub__link(href='/aroy_d') Aroy-D
								a.main-menu-sub__link(href='/Bharat_Bazar') Bharat Bazar
								a.main-menu-sub__link(href='/Bestofindia') Bestofindia
								a.main-menu-sub__link(href='/Good_Sign_Company') Good Sign Company
								a.main-menu-sub__link(href='/Daawat') Daawat
								a.main-menu-sub__link(href='/Holy_Om')
									| Holy Om 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/Oriental_Bazaar') Oriental Bazaar
								a.main-menu-sub__link(href='/Royal_Forest') Royal Forest
								a.main-menu-sub__link(href='/United_Spices') United Spices
								a.main-menu-sub__link(href='/action_life') Активная жизнь
								a.main-menu-sub__link(href='/belovodye')
									| Беловодье 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/vego') Вего (Vego)
								a.main-menu-sub__link(href='/vsem_na_polzu') Всем на пользу (Здравое зерно)
								a.main-menu-sub__link(href='/gagarinskie') Гагаринские мануфактуры
								a.main-menu-sub__link(href='/zoloto_indii') Золото Индии (Амрита)
								a.main-menu-sub__link(href='/zdoroveda') Здороведа
								a.main-menu-sub__link(href='/oil_king')
									| Масляный король 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/XXII') Продукты XXII века
								a.main-menu-sub__link(href='/medolubov') Медолюбов
								a.main-menu-sub__link(href='/obraz_zhizni') Образ жизни
								a.main-menu-sub__link(href='/radograd')
									| РадоГрад 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/soma') Сома
								a.main-menu-sub__link(href='/saharaja') Сахараджа
								a.main-menu-sub__link(href='/umnaya_mama') Умная мама
				
					li.main-menu__item.item-active
						a.main-menu__link.js-menu-link(href='/zdorove')
							span.js-menu-text Здоровье
							.main-menu__arr.js-menu-arr
								+svg('ic-arrow-next','ic-arrow-next', '8', '15')

						.main-menu-sub.js-menu-sub
							.main-menu-sub__item
								a.main-menu-sub__link(href='/s_a')
									| Средства аюрведы для зимы 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/act') Актуально прямо сейчас
								a.main-menu-sub__link(href='/top_au')
									| ТОП ЗИМЫ 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/ozdorovitelnye_sredstva') Оздоровительные средства
								a.main-menu-sub__link(href='/nehimiya') НЕхимия для дома
								a.main-menu-sub__link(href='/ayur_jam') Аюрведические джемы и пасты (авалеха, гхритам)
								a.main-menu-sub__link(href='/vitamin') Витамины & здоровое питание
								a.main-menu-sub__link(href='/kwathy') Гранулированные составы (кваты)
								a.main-menu-sub__link(href='/vaty') Таблетированные составы (вати)
								a.main-menu-sub__link(href='/churny') Порошки (чурны)
								a.main-menu-sub__link(href='/lechebnye-ayurveda-masla-kupit') Лечебные масла
								a.main-menu-sub__link(href='/massagnye_masla') Массажные масла
								a.main-menu-sub__link(href='/balsamy_i_geli') Бальзамы и гели
								a.main-menu-sub__link(href='/gigienicheskie_sredstva') Гигиенические средства
								a.main-menu-sub__link(href='/dental') Зубные пасты и порошки
								a.main-menu-sub__link(href='/napitki_dlya_zdorovya') Напитки для здоровья
								a.main-menu-sub__link(href='/efirnye_masla') Эфирные масла
								a.main-menu-sub__link(href='/incense') Благовония
								a.main-menu-sub__link(href='/dabur-chavanprash-kupit') Чаванпраши
								a.main-menu-sub__link(href='/triphala') Трифалы
								a.main-menu-sub__link(href='/dasamula') Дашамула
								a.main-menu-sub__link(href='/ashwagandha') Ашвагандха
								a.main-menu-sub__link(href='/shatawari') Шатавари
								a.main-menu-sub__link(href='/sredstva_s_nimom') Средства с нимом и куркумой
								a.main-menu-sub__link(href='/oborudovanie') Оборудование для диагностики
								a.main-menu-sub__link(href='/professional') Для профессионалов
							.main-menu-sub__item
								a.main-menu-sub__link(href='/aromatherapy') Ароматерапия
								a.main-menu-sub__link(href='/antistress') Антистресс
								a.main-menu-sub__link(href='/ochishenie') Очищение организма
								a.main-menu-sub__link(href='/zdorovye_sustavov') Здоровье суставов
								a.main-menu-sub__link(href='/omolozhenie') Омоложение организма
								a.main-menu-sub__link(href='/snizhenie_vesa') Снижение веса
								a.main-menu-sub__link(href='/antidiabet') Против диабета
								a.main-menu-sub__link(href='/immunitet') Укрепление иммунитета
								a.main-menu-sub__link(href='/heart') Здоровое сердце и сосуды
								a.main-menu-sub__link(href='/pishevarenie') Улучшение пищеварения
								a.main-menu-sub__link(href='/antiparazit') Против паразитов
								a.main-menu-sub__link(href='/ayurveda-dlya-zhenshchin') Женское здоровье
								a.main-menu-sub__link(href='/muzhskoe_zdorovye') Мужское здоровье
								a.main-menu-sub__link(href='/detskoe_zdorovye') Детское здоровье
								a.main-menu-sub__link(href='/health_prog')
									| Программы оздоровления 
									sup.main-menu-sub__new new!
							.main-menu-sub__item
								a.main-menu-sub__link(href='/vedabiotica')
									| VedaBIOTICA 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/Aishwarya') Aishwarya
								a.main-menu-sub__link(href='/Arya_Vaidya_Pharmacy') Arya Vaidya Pharmacy
								a.main-menu-sub__link(href='/avs') Arya Vaidya Sala
								a.main-menu-sub__link(href='/Ayurplus_product') AyurPlus
								a.main-menu-sub__link(href='/amrut')
									| Baps Amrut 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/Baraka_') Baraka
								a.main-menu-sub__link(href='/bliss_ayurveda') Bliss Ayurveda (Традо)
								a.main-menu-sub__link(href='/dabur') Dabur
								a.main-menu-sub__link(href='/day_to_day_care') Day 2 Day Care
								a.main-menu-sub__link(href='/Dhathri_Ayurveda') Dhathri Ayurveda
								a.main-menu-sub__link(href='/ecover') Ecover
								a.main-menu-sub__link(href='/amrita') Indibird (Амрита)
								a.main-menu-sub__link(href='/hamdard') Hamdard
								a.main-menu-sub__link(href='/nagarjuna') Nagarjuna
								a.main-menu-sub__link(href='/naranfito') Naranfito
								a.main-menu-sub__link(href='/Raj_Ayurveda') Raj Ayurveda
								a.main-menu-sub__link(href='/Shri_Ganga') Shri Ganga
								a.main-menu-sub__link(href='/siddhalepa') Siddhalepa
								a.main-menu-sub__link(href='/smart') Smart
								a.main-menu-sub__link(href='/Veda_Vedic') Veda Vedica
								a.main-menu-sub__link(href='/zenslim') Zenslim
								a.main-menu-sub__link(href='/prosvet') ПроСвет
								a.main-menu-sub__link(href='/zhiva_ayurveda') Жива (Сибирская Аюрведа)
								a.main-menu-sub__link(href='/kedr') Кедровый мир
								a.main-menu-sub__link(href='/rus_med') Русский мёд
								a.main-menu-sub__link(href='/russkie_blagovoniya') Русские благовония
				
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/kosmetika')
							span.js-menu-text Косметика
							.main-menu__arr.js-menu-arr
								+svg('ic-arrow-next','ic-arrow-next', '8', '15')

						.main-menu-sub.js-menu-sub
							.main-menu-sub__item
								a.main-menu-sub__link(href='/ayurvedicheskie-shampuni-kupit') Шампуни
								a.main-menu-sub__link(href='/balm_conditioner') Бальзамы и кондиционеры
								a.main-menu-sub__link(href='/hair_oil') Масла для волос
								a.main-menu-sub__link(href='/hair_mask') Маски для волос
								a.main-menu-sub__link(href='/hair_color_henna') Краски и хна
								a.main-menu-sub__link(href='/indijskaya-ayurvedicheskaya-kosmetika-kupit') Кремы и гели для кожи лица
								a.main-menu-sub__link(href='/gel_eyes') Кремы и гели для кожи вокруг глаз
								a.main-menu-sub__link(href='/cosmetic') Декоративная косметика
								a.main-menu-sub__link(href='/toniki') Тоники и лосьоны
								a.main-menu-sub__link(href='/cleaner') Очистители и средства для умывания
								a.main-menu-sub__link(href='/mask') Маски и скрабы
								a.main-menu-sub__link(href='/serum') Сыворотки
								a.main-menu-sub__link(href='/cosmetic_oil') Косметические масла
								a.main-menu-sub__link(href='/body_oil') Масла и молочко для тела
								a.main-menu-sub__link(href='/soap') Мыло
								a.main-menu-sub__link(href='/bath') Средства для ванны и душа
								a.main-menu-sub__link(href='/lips_balm') Бальзамы для губ
								a.main-menu-sub__link(href='/deo') Дезодоранты
								a.main-menu-sub__link(href='/other') Мехенди и флэш-татуировки
								a.main-menu-sub__link(href='/kokosovoe_maslo') Кокосовое масло
								a.main-menu-sub__link(href='/kumkumady') Кумкумади
								a.main-menu-sub__link(href='/roz_voda') Розовая вода
								a.main-menu-sub__link(href='/cosmetic_prog') Косметические программы
							.main-menu-sub__item
								a.main-menu-sub__link(href='/anticellulitis') Антицеллюлитные средства
								a.main-menu-sub__link(href='/aroma') Ароматерапия
								a.main-menu-sub__link(href='/body_care') Средства для ухода за телом
								a.main-menu-sub__link(href='/hand_care') Средства для ухода за руками
								a.main-menu-sub__link(href='/foot_care') Средства для ухода за ногами
								a.main-menu-sub__link(href='/hair_care') Уход за волосами
								a.main-menu-sub__link(href='/hair_heal') Лечебные средства для волос
								a.main-menu-sub__link(href='/heal_cosmetic') Лечебная косметика
								a.main-menu-sub__link(href='/dry_derm') Сухая кожа
								a.main-menu-sub__link(href='/oil_derm') Жирная кожа
								a.main-menu-sub__link(href='/normal_derm') Нормальная кожа
								a.main-menu-sub__link(href='/problem_skin') Проблемная кожа
								a.main-menu-sub__link(href='/combined_derm') Комбинированная кожа
								a.main-menu-sub__link(href='/antiage') Возрастная кожа
							.main-menu-sub__item
								a.main-menu-sub__link(href='/Patanjali')
									| Patanjali 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/Aasha_Herbals') Aasha Herbals
								a.main-menu-sub__link(href='/amsarveda') AmsarVeda (Anariti)
								a.main-menu-sub__link(href='/Ancient') Ancient Formulae, Hesh и Godrej
								a.main-menu-sub__link(href='/ayurplus') AyurPlus
								a.main-menu-sub__link(href='/Ayu_Swasthya_Products') Ayu Swasthya Products
								a.main-menu-sub__link(href='/kosmetika-biotik-biotique-kupit') Biotique
								a.main-menu-sub__link(href='/krym') Полиада-Крым
								a.main-menu-sub__link(href='/biobeauty') БиоБьюти
								a.main-menu-sub__link(href='/boro_fresh') Boro Fresh
								a.main-menu-sub__link(href='/vatika_amla') Dabur (Vatika&Amla)
								a.main-menu-sub__link(href='/loving_care') Derma Loving Care
								a.main-menu-sub__link(href='/day2day') Day2Day Care
								a.main-menu-sub__link(href='/zhiva') Жива
								a.main-menu-sub__link(href='/Jurassic_Spa') Jurassic Spa
								a.main-menu-sub__link(href='/emami') Emami, Himani и Hermedics
								a.main-menu-sub__link(href='/sri_sri_tattva') Sri Sri Tattva
								a.main-menu-sub__link(href='/himalaya_herbals') Himalaya Herbals
								a.main-menu-sub__link(href='/amrita_indibird') Indibird (Амрита)
								a.main-menu-sub__link(href='/kajal') Kajal
								a.main-menu-sub__link(href='/Indian_Khadi') Khadi
								a.main-menu-sub__link(href='/Lady_Henna') Lady Henna
								a.main-menu-sub__link(href='/nano_organic') Nano Organic
								a.main-menu-sub__link(href='/oxford_herbextra') Oxford и Herbextra
								a.main-menu-sub__link(href='/pureayur') PureAyur (Кумкумади)
								a.main-menu-sub__link(href='/pranyva') Pranyva
								a.main-menu-sub__link(href='/Shri_Ganga_Pharmacy') Shri Ganga Pharmacy
								a.main-menu-sub__link(href='/spa_ceylon') Spa ceylon
								a.main-menu-sub__link(href='/spaquatoria') Spaquatoria
								a.main-menu-sub__link(href='/Vasu_Healthcare') Vasu Healthcare
								a.main-menu-sub__link(href='/Veda_Vedica') Veda Vedica
								a.main-menu-sub__link(href='/Vedik_Essence') Vedik Essence
								a.main-menu-sub__link(href='/dalpana') Dalpana
					
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/gifts')
							span.js-menu-text Подарки
							.main-menu__arr.js-menu-arr
								+svg('ic-arrow-next','ic-arrow-next', '8', '15')

						.main-menu-sub.js-menu-sub
							.main-menu-sub__item
								a.main-menu-sub__link(href='/presents')
									| Подарки к новому году 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/suvenir') Сувениры
								a.main-menu-sub__link(href='/interyer') Предметы интерьера
								a.main-menu-sub__link(href='/kosmetic_set') Косметические наборы
								a.main-menu-sub__link(href='/present_sertifikat') Подарочные сертификаты
				
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/knigi')
							span.js-menu-text Книги
							.main-menu__arr.js-menu-arr
								+svg('ic-arrow-next','ic-arrow-next', '8', '15')

						.main-menu-sub.js-menu-sub
							.main-menu-sub__item
								a.main-menu-sub__link(href='/knigi-po-ayurvede-ayurvedicheskaya-literatura-kupi') Аюрведическая литература
								a.main-menu-sub__link(href='/sanskrit')
									| Книги по санскриту и культуре Индии 
									sup.main-menu-sub__new new!
								a.main-menu-sub__link(href='/knigi_yoga') Книги и журналы по йоге
								a.main-menu-sub__link(href='/poleznye_knigi') Полезная литература
					
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/yoga')
							span.js-menu-text Йога
							.main-menu__arr.js-menu-arr
								+svg('ic-arrow-next','ic-arrow-next', '8', '15')

						.main-menu-sub.js-menu-sub
							.main-menu-sub__item
								a.main-menu-sub__link(href='/knigi_po_yoge') Книги по йоге
								a.main-menu-sub__link(href='/219') Предметы для йоги
								a.main-menu-sub__link(href='/220') Одежда для йоги
								a.main-menu-sub__link(href='/221') Аюрведические средства для йоги
					
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/procedury')
							span.js-menu-text Процедуры
							.main-menu__arr.js-menu-arr
								+svg('ic-arrow-next','ic-arrow-next', '8', '15')

						.main-menu-sub.js-menu-sub
							.main-menu-sub__item
								a.main-menu-sub__link(href='/cons') Консультации
								a.main-menu-sub__link(href='/ayurvedicheskie-procedury') Процедуры
								a.main-menu-sub__link(href='/massaj') Массажи
								a.main-menu-sub__link(href='/podarki') Подарочные сертификаты
							.main-menu-sub__item
								a.main-menu-sub__link(href='/rasayana') Омоложение
								a.main-menu-sub__link(href='/weight') Снижение веса
								a.main-menu-sub__link(href='/medical') Лечение
							.main-menu-sub__item
								a.main-menu-sub__link(href='/157') Аюрведический центр "Керала"
								a.main-menu-sub__link(href='/224') Аюрведические кабинеты
					
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/obuchenie')
							span.js-menu-text Обучение
							.main-menu__arr.js-menu-arr
								+svg('ic-arrow-next','ic-arrow-next', '8', '15')

						.main-menu-sub.js-menu-sub
							.main-menu-sub__item
								a.main-menu-sub__link(href='/webinar_seminar') Вебинары и семинары
								a.main-menu-sub__link(href='/programmy-obucheniya') Курсы и программы дистанционного обучения
								a.main-menu-sub__link(href='/zapis_kurs') Записи курсов

		.header-nav__bottom
			nav.main-menu.main-menu_orange.js-add-mm(data-order="3")
				ul.main-menu__list
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/novinki')
							span.js-menu-text Новинки
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/hit')
							span.js-menu-text Топ средств
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/akcii')
							span.js-menu-text Акции
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/rasprodazha')
							span.js-menu-text Распродажа
					li.main-menu__item
						a.main-menu__link.js-menu-link(href='/blog')
							span.js-menu-text Блог

			form.form-search(action='/search' accept-charset='UTF-8' method='get')
				input(name='q' placeholder='Поиск товаров' type='text')
				button(type='submit')
					+svg('ic-search','ic-search', '20', '20')

	.mobile-menu.js-mobile-menu.d-lg-none
		.mobile-menu__head
			.mobile-menu__title.js-menu-back Меню
			span.ic-hamburger.active.js-close-menu
				span
		.mobile-menu__content-wrap.js-mobile-menu-content-wrap
			.mobile-menu__content.js-mobile-menu-content

